<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" text="Volver" color="primary"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <ion-card>
    <ion-card-header class="fotoQRheader">
      <ion-card-subtitle>Codigo QR generado con exito!</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="fotoQRcontent">
      <img [src]="qr.image">
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" class="inicioBotones" name="person">
    | Proyectar QR |
  </ion-button>
</ion-content>
